@import url("https://fonts.googleapis.com/css2?family=Antonio&family=Rubik+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Rubik+Bubbles&display=swap");
* {
  padding-top: 0.1px;
  padding-bottom: 0.1px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
